    .section { 
      float: left;
      clear: left;
      padding: 30px 20px;
	  cursor : default;
    }
    
    /* CHART LISTS */
    .chartlist { 
      float: left; 
      border-top: 1px solid #eee; 
      width: 640px;
    }
    .chartlist li { 
      position: relative;
      display: block;  
      border-bottom: 1px solid #eee; 
      _zoom: 1;
    }
    .chartlist li a { 
      display: block; 
      padding: 3px 3px 3px 3px;
      position: relative; 
      z-index: 2; 
      color: #555; 
      font-weight: bold; 
      font-size: 12px; 
      line-height: 25px; 
    }
    .chartlist .count { 
      display: block; 
      position: absolute; 
      top: 0; 
      right: 10px; 
      margin: 0 6px; 
      text-align: right; 
      color: #999; 
      font-weight: bold; 
      font-size: 12px; 
      line-height: 30px; 
    }
    .chartlist .index { 
      display: block; 
      position: absolute; 
      top: 0; 
      left: 0; 
      height: 100%; 
      background: #9A9A9A; 
      text-indent: -9999px; 
      overflow: hidden; 
      line-height: 30px;
    }
    .chartlist li:hover { 
      background: orange; 
    }
	
	
	
	
	
	/*MICRO CHARTLIST*/
    .microchart { 
      float: left; 
      border-top: 1px solid #eee; 
      width: 640px;
    }
    .microchart li { 
      position: relative;
      display: block;  
      border-bottom: 1px solid #eee; 
      _zoom: 1;
    }
    .microchart li a { 
      display: block; 
      padding: 0px 3px 0px 3px;
      position: relative; 
      z-index: 2; 
      color: #666; 
      font-weight: bold; 
      font-size: 12px; 
      line-height: 10px; 
    }
    .microchart .count { 
      display: block; 
      position: absolute; 
      top: 0; 
      right: 10px; 
      margin: 0 6px; 
      text-align: right; 
      color: #666; 
      font-weight: bold; 
      font-size: 12px; 
      line-height: 10px; 
    }
    .microchart .index { 
      display: block; 
      position: absolute; 
      top: 0; 
      left: 0; 
      height: 100%; 
      background: #9A9A9A; 
      text-indent: -9999px; 
      overflow: hidden; 
      line-height: 15px;
    }
	
    .microchart li:hover { 
      background: #FFE47B; 
	  height: 30px;
    }
	.microchart li:hover a{ 
		font-size: 20px;
		line-height: 30px;
	}
	.microchart li:hover .count{ 
		font-size: 20px;
		line-height: 30px;
	}
	.microchart li:hover .index { 
		background: #C9C8C8;
	}
	
