@font-face {
	font-family: ubuntu;
	src: url('Ubuntu-R.ttf');
	/*src: url('SourceSansPro-Regular.ttf');*/
	text-decoration : none;}

	
/*	GENERAL	*/	
body {background-color:#fff; font-family:ubuntu, Verdana, Arial, Helvetica, sans-serif; margin:0; color:#000;}
h3 {	margin : 0px;}
input, textarea, select {border:1px solid #6E6F6A;}
a { text-decoration:none; color:#003C9C;}
table {border:0; padding:4px; text-align:center; font-size:small; border-collapse:collapse;}
th {background-color:orange; font-size:10px; padding:5px 0px; color:#000;}
img {border:0px; vertical-align:middle;}


#portail-menu {
	background		: #BFBFBF; 
	border			: solid 1px black; 
	width			: 94%;
	padding			: 5px 10px 5px 10px; 
	margin-left		: auto; 
	margin-right	: auto;
	margin-top : 10px;
	border-radius	: 5px;
	font-size : 9px;
	padding-top : 15px;
	padding-bottom : 15px;
}

.portail-menu-item {
	text-align		: center;
	width 			: auto;
	float 			: left;
	margin-right	: 0px;
	padding : 0 12px;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}

.portail-menu-item:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-ms-transform: scale(1.5);
}

#portail-conteneur {
	background		: #BFBFBF; 
	border			: solid 1px black; 
	padding			: 5px 10px; 
	width			: 94%;
	margin-left		: auto; 
	margin-right	: auto;
	top 			: 120px;
	border-radius	: 5px;
}


/*	On execute tous les post dans ce div	*/
#target {width:100%; position:fixed;	top:50%; left:0px; background-color:red; color:white; padding:5px; display:none; z-index:13; text-align:center;}

.spacer { clear:both; height:50px; min-width:500px;}

/*	Le conteneur principal où on dessine le contenu et les menus	*/
#page {background-color:white; margin-left:auto; margin-right:auto;}

/*	Conteneur où on dessine les matériels, salles, ...	*/
#contenu {background-color : white;	float:left;	width:auto;	overflow:auto; margin-left:230px;}

/*	menu de gauche	*/
#menu { width:225px; margin-top:80px; position:fixed; background-color:#fff; z-index:12; overflow:auto;}
#menu  img{ width:24px; margin-right:4px;}
#menu-global {}
.menu-block {margin-bottom:15px;}
.menu-titre {font-size:14px; padding:10px; padding-bottom:3px; font-weight:700; cursor:pointer;}
.menu-items {display:none; }
.menu-item {padding:2px 10px;font-size:11px; }
.menu-item:hover {background-color:#E3E3E3;}
/*	Toggle menu	de gauche quand la taille de l'écran est trop juste*/
#toggle-menu {position : fixed; top:42px; left:10px; display:none; cursor:pointer;}
#toggle-menu img {width:20px; }


/*	Entetes des pages (avec les options dedans)	*/
.entetes { font-size:14px; font-weight:700; padding:6px 15px; border-bottom:solid #B8B8B8 1px; float:top; margin-left:-5px; position:fixed; width:950px; z-index:10; background-color:#fff; /*box-shadow:1px 5px 10px #888;*/}
.entetes-titre 		{float:left;}
.entetes-titre img 	{height:24px; margin-left:10px; cursor:pointer;}
.entetes-options 	{float:right; font-size:12px;}
.entetes-options .option {float:left; padding:0 3px;}
.entetes-options img {height:24px; cursor:pointer;}
.entetes-options form {margin:0; }

#entete-materiels {background-color:#83E684;}
#entete-salles {background-color:#AA83E6;}
#entete-marques {background-color:#8683E6;}
#entete-prets {background-color:#FFAF75;}
#entete-utilisateurs {background-color:#759AFF;}
#entete-grades {background-color:#759AFF;}
#entete-importusers {background-color:#fff;}
#entete-college {background-color:#05ff01;}
#entete-recapfog {background-color:#AA83E6;}
#entete-modportail {background-color:#759AFF;}
#entete-geninventaire {background-color:#8683E6;}
#entete-gestfichiers {background-color:#83E684;}


/*	bandeau pour la partie login, grade et déconnexion	*/
#bandeau		{font-size:12px; color:black; padding:6px 15px; margin-bottom:15px;}
#bandeau a		{font-size:12px; color:grey;}
#bandeau a:hover	{text-decoration:underline;}
#bandeau img		{width:24px; }


/*	La boite de case à cocher pour les colonnes dans matériels	*/
#options_colonnes {display:none; font-size:small; border:1px grey solid; padding:5px; margin-top:6px; margin-left:-34px; position:absolute; background-color:#E8E8E8; overflow:auto; width:120px; /*box-shadow:1px 5px 10px #888;*/}

/*	La boite pour l'affectation directe d'un matériel	*/
#affect_box {display:none; font-size:small; border:1px grey solid; padding:5px; margin-top:6px; margin-left:-34px; position:absolute; background-color:#E8E8E8; overflow:auto; width:auto; /*box-shadow:1px 5px 10px #888;*/}

/* la boite d'aide */
.helpbox {display:none; font-size:10px; border:1px grey solid; padding:5px; position:absolute; margin-top:30px; margin-left:-158px; background-color:#E8E8E8; /*box-shadow:1px 5px 10px #888;*/}

/*	On masque par défaut le renommage et la modification par lot	*/
#modif_selection {display:none; }
#rename_selection {display:none; }
#affect_selection {display:none; }

/*	Le nombre de lignes selectionnées	*/
#nb_selectionnes {display:none; font-size:10px; margin-left:10px;}





.form_table {
	border		: 1px solid #ccc;
	padding		: 4px;
	text-align	: center; 
	font-size	: small;	
	border-collapse : separate;
}

/*	Les cases contenant les boutons supprimé, modifié, ...	*/
.buttons {width:20px;}


.tablehover {min-width:950px;}
.tablehover tr:hover {background-color:#FFD769; padding:2px 0px;}
.tablehover td {padding:2px 4px; font-size:11px ;}
.tablehover th {font-size:12px ;}

/*	table des correspondances pour l'ajout d'une marque	(toujours après tablehover) */
#corr_table {min-width:380px;}
#corr_table  tr:hover{background-color:#FFD769;}

/*	pour les dossiers	*/
.innertable {float:right; width:90%; background-color:#D9DBDC; border:none ;}
.innertable td{padding:2px 4px; font-size:10px; border:1px grey solid ;}
.innertable th{font-size:10px; background-color:green; padding:0px ;}
.inner_tr {background-color:white; border:3px solid blue; border-top:none;}
.inner_td {padding:10px;}

.dossier_section {
	float : top;
	width : auto;
	overflow : auto;
	margin : 10px;
	padding : 10px;
	border : 1px dotted black;
}

.dossier_section span{
	margin : 20px;
	
}

.liste_section {
	float : top;
	width : auto;
	min-width : 65%;
	height : 250px;
	overflow : auto;
	margin : 10px;
	padding : 10px;
	border : 1px dotted black;
}

/*	Pour la couleur des dossiers	*/
.chk_span {padding:10px;}
.td_ouverture {background-color:#5AC8FF;}
.td_clos {background-color:#46FF80;}
.td_intervention {background-color:#FF464A;}
.td_precision {background-color:#FF9B46;}


/*	Pour les lignes selectionnées	*/
.selected {	background-color : #7EEF9F;}
/*	Pour les lignes paires	*/
.tr1 {	background-color : #D9DBDC;}
/*	Pour les lignes impaires	*/
.tr2 {	background-color : #fff;}
/*	Pour les lignes paires surlignées	*/
.tr1:hover {	background-color : #FFD769;}
/*	Pour les lignes impaires surlignées */
.tr2:hover {	background-color : #FFD769;}

/*	Pour les lignes paires sans rollover	*/
.tr3 {	background-color : #D9DBDC;}
/*	Pour les lignes impaires sans rollover	*/
.tr4 {	background-color : #fff;}
/*	Pour les lignes sans rollover avec un ssn en doublon dans la base OCS / gespac	*/
.tr_doublon {	background-color : #29C920;}
/*	Pour les lignes sans rollover avec un ssn en doublon dans la base OCS / gespac	*/
.tr_doublon_ocs {	background-color : yellow;}

	
/*************************************** 	COMBOBOX  *******************************************/

#combobox {width:auto; text-align:center; position:absolute;}
#textbox {display:inline; z-index:1; top:0px; position:absolute; width:30px; left:0px;}
#listbox {display:inline; z-index:0; top:0px; position:absolute; width:30px; left:90px;}

/******************************************* 	RSS / ATOM  *******************************************/
.rss_title {font-size:14px;}
.rss_title a{font-size:14px;}
#rss_content {font-size:12px;}
.rss_news {border:1px solid black; padding:10px; margin:10px; background-color:#C0FF96; border-radius:5px; white-space:pre-wrap;}

/******************************************* 	SCROLLBAR pour WEBKIT uniquement  *******************************************/
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track { border-radius:3px;}
::-webkit-scrollbar-thumb { border-radius:3px; background-color:orange; border:1px solid black;}
